<footer class=" py-12 px-6">
    <div class="max-w-7xl mx-auto grid md:grid-cols-4 gap-8 footer-content">
      <div class="footer-section">
        <!-- <h4 class="text-xl font-bold text-[#78DAB8] mb-4">Fly World</h4> -->
       <img src="assets/logo.png" alt="Logo" class="w-36">
        <p class="text-white/80">Your trusted partner in Australian immigration since 2010</p>
      </div>
      <div class="footer-section">
        <h4 class="text-xl font-bold text-[#78DAB8] mb-4">Quick Links</h4>
        <ul class="space-y-2">
          <li><a class="text-white/80 hover:text-[#78DAB8] cursor-pointer">About Us</a></li>
          <li><a class="text-white/80 hover:text-[#78DAB8] cursor-pointer">Success Stories</a></li>
          <li><a class="text-white/80 hover:text-[#78DAB8] cursor-pointer">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4 class="text-xl font-bold text-[#78DAB8] mb-4">Services</h4>
        <ul class="space-y-2">
          <li><a class="text-white/80 hover:text-[#78DAB8] cursor-pointer">Visa Assessment</a></li>
          <li><a class="text-white/80 hover:text-[#78DAB8] cursor-pointer">Documentation</a></li>
          <li><a class="text-white/80 hover:text-[#78DAB8] cursor-pointer">Consultation</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4 class="text-xl font-bold text-[#78DAB8] mb-4 cursor-pointer">Contact</h4>
        <p class="text-white/80 cursor-pointer">{{'abc@gmail.com'}}<br>+12 12345 67891</p>
      </div>
    </div>
  </footer>